numpy
pandas
scikit-learn
gensim

nltk
spacy

matplotlib
seaborn

torch
torchvision
torchaudio

transformers
datasets
tokenizers

sentencepiece

accelerate

streamlit

openpyxl

jupyter
notebook

tqdm
regex