numpy
pandas
scikit-learn
gensim

nltk
spacy

matplotlib
seaborn

torch
torchvision
torchaudio

transformers
datasets
tokenizers

sentencepiece

accelerate

streamlit
fastapi
uvicorn[standard]
joblib
pytest

openpyxl

jupyter
notebook

tqdm
regex
